<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <const name="ABSPATH" value="/tmp/wordpress/"/>
    </php>
</phpunit>