<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         beStrictAboutCoversAnnotation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="WordPress Plugin Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <const name="ABSPATH" value="/tmp/wordpress/"/>
        <env name="WP_PHP_BINARY" value="php"/>
    </php>
</phpunit>
